.footer {
  background-color: var(--color-background-dark);
  color: var(--color-text-light);
  padding: 20px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.footer a {
  color: #fff;
}

.social-links img {
  width: 20px;
}

.address {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.set-language-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag {
  width: 25px;
  margin: 5px;
}

.opaque {
  opacity: 100%;
}

.fade {
  opacity: 50%;
}

@media only screen and (min-width: 768px) {
  .footer-items {
    flex-direction: row;
  }
  .footer-items > * {
    width: 30%;
  }
}
