@font-face {
  font-family: "Cabin";
  src: local("Cabin"), url(../fonts/Cabin/Cabin.ttf) format("truetype");
}

@font-face {
  font-family: "Italianno";
  src: local("Italianno"),
    url(../fonts/Italianno/Italianno-Regular.ttf) format("truetype");
}

:root {
  --color-highlight: #a83965;
  --color-background-light: #fff;
  --color-background-dark: #000;
  --color-text-light: #fff;
  --color-text-dark: #373737;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Cabin", sans-serif;
}

.padding {
  padding: 20px;
}

.hidden {
  display: none;
}

h1 {
  color: var(--color-text-light);
  font-size: 80px;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  color: var(--color-highlight);
  font-family: "Italianno", sans-serif;
  font-size: 80px;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  text-align: center;
  margin-top: 0;
}

h4 {
  text-decoration: underline;
}

.banner {
  height: 40vh;
  background-image: url("../images/restaurant-upstairs.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.banner2 {
  height: 40vh;
  background-image: url("../images/restaurant2.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.custom-button {
  padding: 10px;
  background-color: transparent;
  border: none;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
