.hero {
  height: 100vh;
  background-image: url("../images/bar.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h2 {
  font-size: 150px;
}
