.row {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.menu-category {
  font-family: "Source Sans Pro Bold", Georgia, serif;
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
  border-bottom: 2px solid #d8d8d8;
  margin: 10px;
}

.item-name {
  font-family: "Source Sans Pro Bold", Georgia, serif;
  font-weight: 900;
  font-size: 19px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  .column {
    width: 50%;
  }
  .row {
    flex-direction: row;
  }
}
