.external-menu {
  padding: 20px;
}

.external-menu-logo {
  width: 100%;
  margin: 50px auto;
}

.back-button {
  background-color: transparent;
  border: none;
  width: 10vw;
  padding: 0;
  padding-top: 10px;
  text-align: left;
}

.category-name {
  /* color: var(--color-highlight);
  font-family: "Italianno", sans-serif; */
  color: #000;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  font-size: 15px;
  font-family: "Source Sans Pro Bold", sans-serif;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  transition: transform 0.4s;
}

.scroll-down {
  transform: translate3d(0, -100%, 0);
}

.scroll-up {
  transform: none;
}

.back {
  width: 20px;
}

.home-link {
  display: flex;
  justify-content: flex-end;
}

.external-nav-logo {
  width: 30%;
  height: 30%;
}

.category-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.category-button {
  width: 30vw;
  min-height: 30vw;
  margin: 20px;
  background-color: var(--color-background);
  font-size: 40px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: 2px solid var(--color-highlight);
  border-radius: 10%;
  color: var(--color-highlight);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-container {
  display: flex;
  flex-direction: column;
}

.menu-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 40px;
}

.menu-item-description {
  display: flex;
  flex-direction: column;
}

.menu-item-description p {
  margin: 10px;
}

.item-name {
  font-size: 20px;
}

.price {
  margin-top: 10px;
  font-size: 20px;
  text-align: right;
}

.evening-only {
  text-align: right;
  text-decoration: underline;
  font-size: 20px;
}
