.bar-menu-item {
  text-decoration: underline;
  font-size: 25px;
}

.bieres {
  display: flex;
  justify-content: space-between;
}

.menu-bar-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}
